standard-height = 100%
standard-width = 100%
standard-border = black 1px solid

*
  padding 0


body
  height 100vh
  display block
  text-align center
  word-wrap break-word


#main
  margin 0 auto
  max-width 1920px
  width standard-width
  height standard-height
  border-collapse collapse

#head_row td
  height 5%
  border-bottom standard-border


#td1
  width 1%


#td2
  width 80%


#td3
  width 2%
  text-align center


#td4
  height standard-height
  text-align left
  vertical-align top
  margin 10px
  padding 15px
  a
    margin 10px
    line-height 2
    text-decoration none
    color black

#aside
  background #4fc44f
  border-radius 10px
  height 80vh


img
  height standard-height
  width standard-width
  object-fit cover


.img_td
  height 100px
  width 100px
  border-right standard-border
  border-left standard-border
  border-top standard-border


input
  width standard-width
  height 30px


#logo
  padding 10px
  background #4fc44f
  border-radius 10px
  text-align center


td
  color black
  padding 20px


#card
  height 50px
  width 50px
  background #4fc44f


.trips
  border-collapse collapse
  td
    padding 0
    text-align left
    font-size 14px

.buy
  margin 1px
  float right
  height 30px
  width 30px
  background #4fc44f


.main_td
  height 25%
  width 25%
  text-align center
  vertical-align top


#main_table
  width standard-width
  text-align center
  vertical-align top


.item
  border-left black 1px solid


.but_buy
  border-right standard-border
  border-bottom standard-border


.price
  border-left standard-border
  border-bottom standard-border


#search_but
  position absolute
  height 30px
  width 30px


button
  cursor pointer

